@use "../../../utils/colors.scss" as colors;
@use "../../../utils/flexColumn.scss" as flexColumn;
@use "../../../utils/default-formula-input.scss" as default-inp;
@use "../../../utils/is-mobile.scss" as mobile;

.basic-form-part {
    @include flexColumn.flexColumn;

    // background-color: red;
    h3 {
        margin: 5px 0;
        text-align: center
    }

    .formula-input-holder {

        @include default-inp.main()
    }

    @include mobile.is-mobile() {
        align-items: center;
    }
}